
.title
{
  text-align:center;
  color:green;
  margin-top:4rem;
  font-size:5rem;
font-family: 'Lobster', cursive;


}
img{
  height:15rem;
  width:15rem;

}
.row{
  text-align:center;
  color:green;
  font-size:2rem;
  font-weight:bold;
  padding-top:5rem;
  font-family: 'Lobster', cursive;


}
